*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,#f6b6f3,#1aa6f8);
}
.cont{
    width: 1140px;
    margin: 20px auto;
    overflow: hidden;
}
.color{
    color:#51bcff ;
    height: 45px;
}
.big{
    font-size: 30px;
    font-weight: bold;
}
.more{
    background: #343434;
    color: #fff;
    height: 40px;
}
a{
    line-height: 40px;
    float: right;
    color: #fff;
    text-decoration: none;
}
a:hover{
    color:#51bcff;
}
.bottom{
    width: 210px;
    margin-left: 10px;
    float: left;
}
.bottom ul li{
    text-align: center;
    height: 40px;
    list-style-image: url(./image/list1.png);
    list-style-position: inside;
    border: red 1px dashed;
    border-radius: 10px;
    margin-top:5px ;
}
.bottom ul li:first-child{
    margin-top: 10px;
}
.bottom ul li:hover{
    list-style-image: url(./image/list2.png);
    background-color:  rgba(255,255, 255, 0.5);;
}
.list{
    height: 344px;
    width: 215px;
    margin-left: 11px;
    margin-top: 10px;
    border: solid 1px silver;
    text-align: center;
    float: left;
}
.list img{
    width: 100%;
    height: 203px;
    margin-top: 10px;
}
.list img:hover{
    transform: scale(0.9);
    transition: 1s;
}
p{
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    color:#ff0c2a ;
}
.price{
    float: left;
}
.e_book{
    display: block;
    float: right;
    font-size: 12px;
    background-color: #ff0c2a;
    color: #fff;
    line-height: 26px;
    margin: 10px 0;
    padding: 0 4px;
    cursor: pointer;
}
.e_book:hover{
    background-color: #bc0117;
    color: #fff;
}