@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1678433580529') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakan:before {
  content: "\f01f0";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-chakan1:before {
  content: "\e63e";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-pingjia:before {
  content: "\e629";
}

