<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcxgdw.mapper.PersonaMapper">
    <!--更新-->
    <update id="updata">
        update persona
        set
        password='123456', status=#{t}
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        order by username asc
    </update>

    <!--批量删除-->
<!--    <delete id="delete">-->
<!--        delete-->
<!--        from persona-->
<!--        where id in-->
<!--        <foreach collection="ids" item="id" separator="," open="(" close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--        order by username asc-->
<!--    </delete>-->

    <!--条件查询-->
    <select id="list" resultType="com.kcxgdw.obj.Persona">
        select *
        from persona
        <where>
            <if test="username!=null and username!=''">
                username like "%"#{username}"%"
            </if>
        </where>
        order by username asc
    </select>

    <update id="changeStatus">
        update persona set status = #{t}
        <where>
            <if test="username!=null and username!=''">
                username = #{username}
            </if>
        </where>
    </update>



    <!--存在判断-->
    <select id="exist" resultType="java.lang.Boolean">
        select exists (select 1 from persona where username = #{username})
    </select>
</mapper>